* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
  }

  :root {
    --one: #618264;
    --two: #79AC78;
    --three: #B0D9B1;
    --four: #D0E7D2;
}
body{
    font-family: poppins;
}




/*header*/
.lj{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    padding-left: 96px;
    padding-right: 96px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--one);
}

main{
    padding-left: 240px;
    padding-right: 240px;
}
.navbar{

    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--one);
}
.navbar li{
    width: 200px;
    height: 100px;
}
.lj .judul{
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 60px;
}
.navbar a{
    width: 160px;
    height: 50px;
    text-align: center;
    display: inline-block;
    padding-top: 1.4%;
    color: white;
    text-decoration: none;
    background-color: var(--one);
    font-weight: 500;
    font-size: 25px;
}
.navbar a:hover{
    text-decoration: underline;
}
.login1{
    font-weight: 500;
    font-size: 20px;
    background-color: var(--three);
    cursor: pointer;
    border-radius: 15px;
    width: 97px;
    height: 56px;
}
.login1:hover{
    color: white;
    background-color: var(--two);
}




/*konten*/

main{
    padding-left: 240px;
    padding-right: 240px;
}
main > div{
    display: flex;
    flex-direction: column;
}
.konten1{
    margin-top: 60px;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

p .non-bold{
    line-height: 25px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 28px;
}

.konten3{
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    width: 260px;
    border-radius: 15px;
    background-color: var(--two);
    color: white;
    cursor: pointer;
    margin-left: 30px;
}

.konten3:hover{
    background-color: var(--three);
    color:black;
    box-shadow: 4px 3px 2px black;
}

div > div.unduh{
    display: flex;
    justify-content: flex-end;

}



/*footer*/


fotter{
    background-color: var(--one);
    padding: 25px;
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.foot1{
    align-items: center;
    display: flex;

    justify-content: end;
    width: 300px;
}
.foot1 .judul{
    
    text-align: end;
    display: block;
    width: 125px ;
    color: white;
    line-height: 35px ;
    margin-right: 25px;
    font-weight: 700;
    font-size: 32px;


}
.foot1 .logo{
    height: 67px;
    width: 67px;
}
.foot2{
    margin-right: 36px;
    margin-left: 36px;
    height: 120px;
    width: 4px;
    background-color: black;
    
}
.foot3{
    width: 300px;
}
.foot3 a{
    display:block;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}
.kontak1{
    font-weight: 700;
    font-size: 20px;
}
.foot3 a:hover{
    text-decoration: underline;
}
